<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>REST ENV - An open-source rest env</title>
</head>
<body class="bg-light">
<div class="container" style="max-width:700px">
    <div class="card shadow-sm" style="margin-top: 20px">
        <div class="card-header">
            <h6 style="margin-bottom: 0; margin-top: 7px; display: inline-block">
                <a href="/" class="text-dark">{{brand}}
                    <span class="site-title-second-half"> - {{title}}</span>
                </a>
            </h6>
            <span style="float: right">
                        <span class="csqa-nav">
                            <a href="" class="text-dark">My Questions</a> |
                            <a href="" class="text-dark">My Answers</a>
                        </span>
                    </span>
        </div>
        <div class="pb-2 pt-4 pr-4 pl-4">
            <!--      SIGNUP FORM          -->
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-active">Sign Up</h3>
                    </div>
                    <div class="card-body">
                        <form id="login-form" action="/user/signup" method="post" target="_self">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                                </div>
                                <input type="text" required name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text" required name="firstName" class="form-control" placeholder="First Name">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text" required name="lastName" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" required name="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" required name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create Account" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center text-active">
                            <a href="/" class="small text-dark" style="padding-left: 10px; padding-top: 2px;">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-right"
     style="max-width:700px; padding-right:21px; padding-top:2px; font-size:14px; color: #6c757d">
    <a href="/" class="text-secondary">Home</a> |
    {{#if loggedIn}}
        <a href="" class="text-secondary">Log out ({{loggedIn}})</a> |
    {{/if}}
    <a class="text-active">Sign up / log in</a> |
    <a href="https://github.com/ykdojo/csqa" class="text-secondary" target="_blank">Source code</a> |
    <a href="" class="text-secondary">About</a>
</div>
</body>
</html>