@import url('https://fonts.googleapis.com/css?family=Numans');

:root {
    --active: #615dff;
}

/* MAIN LAYOUT CSS */
body {
    font-family: 'Numans', sans-serif;
}

.num-answers {
    font-size: 14px;
}

a.done, a.done:hover {
    color: orange !important;
}

.separator {
    margin-left: 3px;
    margin-right: 3px;
}

.answers > hr:last-child {
    display: none;
}

.answer-text {
    white-space: break-spaces;
}

.answer-block {
    margin-left: 10px;
}

.csqa-nav {
    position: relative;
    top: 1px;
    font-size: 13px;
    margin-right: 5px;
}

@media (max-width: 615px) {
    .site-title-second-half {
        display: none;
    }
}

/* LOGIN FORM CSS*/
.card-login {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 475px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding-bottom: 50px;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: var(--active);
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 8px;
    top: 0px;
}

.input-group-prepend span {
    width: 50px;
    background-color: var(--active);
    color: black;
    border: 0 !important;
}

input:focus {
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.login_btn {
    color: black;
    background-color: var(--active);
    width: 300px;
}

.login_btn:hover {
    color: black;
    background-color: #ba60ff;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

/* BREADCRUMB CSS*/
.text-active {
    color: var(--active) !important;
}